:80 {
    handle_path /api/* {
        reverse_proxy backend:5074
    }

    handle_path /bucket/* {
        reverse_proxy bucket:9000
    }

    handle_path /dev/bucket {
        reverse_proxy bucket:9090
    }

    reverse_proxy frontend:3000
}

